/* Pie de Página */
footer {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el enlace de correo electrónico */
footer a#correo {
    color: #FFD700; /* Cambia el color a uno que te guste */
    font-weight: bold;
}



/* ... (resto de los estilos) */
