/* Resto de los estilos */

/* Carrusel de Imágenes */
.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilos para el encabezado */
header {
    background-color: #171717d9;
    color: rgba(115,115,115,var(--un-text-opacity));
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid rgba(38,38,38,var(--un-border-bottom-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    position: relative;
}

header:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 40;
    height: 5rem;
    border-bottom: 1px solid rgba(38,38,38,var(--un-border-bottom-opacity));
    background-color: #171717d9;
}

/* Ajustes generales */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-color: #f5f5f5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --xyz-keyframes-default: none;
    --xyz-ease-default: ease;
    --xyz-duration-default: .5s;
    --xyz-delay-default: 0s;
    --xyz-stagger-default: .25s;
    --xyz-iterate-default: 1;
    --xyz-direction-default: normal;
    --xyz-out-direction-default: reverse;
    --xyz-origin-default: center;
    --xyz-opacity-default: 1;
    --xyz-perspective-default: var(--xyz-perspective-none);
    --xyz-translate-default: 25%;
    --xyz-translate-z-default: 300px;
    --xyz-rotate-default: .25turn;
    --xyz-scale-default: .5;
    --xyz-skew-default: 30deg;
    --xyz-perspective-none: none;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

/* ... (resto de los estilos) */
